/bytewm
/apps/bytefetch
/apps/bytekill
/apps/bytelaunch
/apps/bytelock
/apps/bytepass
/apps/bytepick
/apps/bytesnap
/apps/bytevol
/apps/bytewdm
/apps/bytewm-exit
/apps/bytify
/apps/bytemenu
/apps/byteswitch
*.o
